body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a:focus,
button:focus {
  text-decoration: none;
  outline: 0;
}
a:focus,
a:hover {
  text-decoration: none;
}
a,
i,
span {
  display: inline-block;
}
span {
  color: #e1306c;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato, sans-serif;
  font-weight: 800;
  color: #000;
  margin: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li,
p {
  font-size: 1.1rem;
  font-weight: 300;
  color: #231f20;
  margin: 0;
  font-family: Lato, sans-serif;
}

.about-content ul li {
  font-size: 1em;
}

a {
  color: #ec1966;
  font-weight: 400;
}
a:hover {
  color: #aa1753;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #ec1966;
}
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main-btn {
  display: inline-block;
  font-weight: 700;
  font-family: Lato, sans-serif;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #ec1966;
  padding: 0 30px;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #ec1966;
}
.main-btn:hover {
  background-color: #fff;
  color: #ec1966;
  border-color: #ec1966;
}
.main-btn.main-btn-2 {
  background-color: #fff;
  color: #ec1966;
  border-color: #ec1966;
}
.main-btn.main-btn-2:hover {
  background-color: #fff;
  border-color: #ec1966;
}
.section-title .title {
  font-size: 2em;
  padding-top: 10px;
  font-weight: 700;
}

.center-btn {
  margin: 0 auto;
}

.portfolio-hover:hover {
  opacity: 0.7;
}

.portfolio-button {
  display: inline-block;
  font-weight: 700;
  font-family: Lato, sans-serif;
  text-align: center;
  border: 2px solid #ec1966;
  padding: 0 30px;
  font-size: 1em;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #ec1966;
}

.portfolio-hover:hover + .button,
.button:hover {
  display: inline-block;
}

@media (max-width: 767px) {
  .section-title .title {
    font-size: 1.5em;
  }
}
.section-title .title span {
  font-weight: 700;
  display: contents;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1.568s linear infinite;
  -moz-animation: ytp-spinner-linspin 1.568s linear infinite;
  -o-animation: ytp-spinner-linspin 1.568s linear infinite;
  animation: ytp-spinner-linspin 1.568s linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #ec1966 #ec1966 #dedede4f;
  border-radius: 50%;
  border-width: 6px;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #dedede4f;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #dedede4f;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.headroom {
  will-change: transform;
  transition: transform 0.2s linear;
}
.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-brand {
  padding: 0;
  width: 200px;
  height: auto;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
.navbar-nav .nav-item {
  margin-left: 40px;
  position: relative;
}
.navbar-nav .nav-item:first-child {
  margin-left: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
.navbar-nav .nav-item a {
  font-size: 1em;
  font-weight: 700;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
  font-family: Lato, sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
.navbar-nav .nav-item.active > a,
.navbar-nav .nav-item:hover > a {
  color: #ec1966;
}
.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
.navbar-nav .nav-item .sub-menu li {
  display: block;
}
.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
}
.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #ec1966;
}
.navbar-nav .sub-nav-toggler {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #222;
    font-size: 1em;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .navbar-btn .main-btn {
    height: 40px;
    line-height: 36px;
    font-size: 13px;
    padding: 0 20px;
  }
}
.header-hero {
  height: 500px;
  position: relative;
}
@media only screen and (min-width: 1400px) {
  .header-hero {
    height: 700px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: auto;
  }
}
@media (max-width: 767px) {
  .header-hero {
    height: auto;
  }
}
.header-hero-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image {
    width: 720px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .header-hero-image {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-image {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image .image img {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-content {
    padding-top: 150px;
    padding-bottom: 200px;
  }
}
@media (max-width: 767px) {
  .header-hero-content {
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
.header-hero-content .hero-title {
  font-size: 3em;
  font-weight: 400;
  color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-hero-content .hero-title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 34px;
  }
}
.header-hero-content .hero-title b {
  font-weight: 700;
}
.header-hero-content .hero-title span {
  color: #ec1966;
}
.header-hero-content .text {
  max-width: 500px;
  font-size: 16px;
  padding-top: 40px;
}
.social-media {
  position: fixed;
  margin: 10px;
  font-size: 1.5em;
  color: #000;
  bottom: 0;
  left: 20px;
}
.social-media a {
  color: #000;
  padding-bottom: 30px;
}
.social-media a:hover {
  color: #ec1966;
}
.social-media::after {
  content: "";
  display: block;
  width: 2px;
  height: 90px;
  background-color: #000;
  margin: 0 auto;
  z-index: 1;
}
.social-media li {
  padding-bottom: 10px;
}
.social-media li:hover {
  transform: translateY(-3px);
}
.emoji {
  background-image: url(../images/emoji.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.about-title .title {
  padding-top: 10px;
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 767px) {
  .about-title .title {
    font-size: 24px;
  }
}
.about-title .title span {
  color: #ec1966;
}
.about-content-2 .about-line {
  padding-top: 10px;
}
.about-content-2 .about-line li {
  height: 5px;
  background-color: #fde4e1;
  display: inline-block;
  border-radius: 50px;
  margin-right: 3px;
}
.about-content-2 .about-line li:nth-of-type(1) {
  width: 40px;
}
.about-content-2 .about-line li:nth-of-type(2) {
  width: 15px;
}
.about-content-2 .about-line li:nth-of-type(3) {
  width: 10px;
}
.about-content-2 .about-line li:nth-of-type(4) {
  width: 5px;
}
.about-content-2 .text {
  padding-top: 15px;
}
.single-gallery {
  position: relative;
}
.single-gallery .gallery-image img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.05);
}
.single-gallery .gallery-icon a {
  background-color: #ec1966;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-gallery .gallery-icon a {
    width: 80px;
    height: 80px;
  }
}
.single-gallery .gallery-icon a span {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-gallery .gallery-icon a span {
    width: 30px;
    height: 30px;
  }
}
.single-gallery .gallery-icon a span::after,
.single-gallery .gallery-icon a span::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.single-gallery .gallery-icon a span::after {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.single-gallery:hover .gallery-icon a {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.gallery-image img {
  border-radius: 10px;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
}
.project-menu ul li {
  display: inline-block;
  font-size: 1em;
  color: #000;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .project-menu ul li {
    margin: 10px 15px 0;
  }
}
.project-menu ul li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .project-menu ul li:first-child {
    margin: 10px 15px 0;
  }
}
.project-menu ul li::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.project-menu ul li.active::before,
.project-menu ul li:hover::before {
  width: 100%;
}
.gallery-masonry {
  border-radius: 7px;
  overflow: hidden;
}
.testimonial-left-content .testimonial-line {
  padding-top: 10px;
}
.testimonial-left-content .testimonial-line li {
  height: 5px;
  background-color: #e1306c;
  display: inline-block;
  border-radius: 50px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(1) {
  width: 40px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(2) {
  width: 15px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(3) {
  width: 10px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(4) {
  width: 5px;
}
.testimonial-left-content .text {
  padding-top: 15px;
}
.testimonial-content-wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .testimonial-content-wrapper {
    left: 0;
  }
}
.single-testimonial .testimonial-text .text {
  font-size: 1.5em;
  font-weight: 400;
  font-family: Lato, sans-serif;
  line-height: 36px;
  color: #222;
  padding-bottom: 25px;
}

.single-testimonial:hover {
}

@media (max-width: 767px) {
  .single-testimonial .testimonial-text .text {
    font-size: 18px;
    line-height: 32px;
  }
}
.single-testimonial img {
  border-radius: 10px;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.2);
}
.brand-wrapper .single-brand {
  float: left;
  text-align: center;
}
@media (max-width: 767px) {
  .brand-wrapper .single-brand {
    width: 50%;
  }
}
.footer-copyright {
  padding: 25px;
  border-top: 1px solid #dedede4f;
}
.footer-copyright .text {
  font-size: 16px;
}
.footer-copyright .text a {
  color: #ec1966;
}
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: #ec1966;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.back-to-top:hover {
  background-color: #ec1966;
}
